body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative; /* Adicionado */
}

#weaponIcon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

#gameCanvasContainer {
  position: absolute;
  display: flex; /* Adicionado */
  align-items: center; /* Adicionado */
  left: 0;
  margin-left: 10px;
}

canvas {
  border: 1px solid black;
  display: block;
}

#linkToIndex2 {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
}
